# System & Development
node_modules
.sass-cache
robots.txt
sitemap.xml
sitemap.xml.gz
/google*.html
/.htaccess
/.htaccess.orig
.DS_Store
.gitattributes
.ftpquota
Thumbs.db
error_log
maintenance.php
maintenance.html
._*
*.bak
*.ini
*.log
*.map
*.orig
*~

# Large/disallowed file types
*.3gp
*.3gpp
*.asf
*.asx
*.avi
*.bin
*.deb
*.dll
*.dmg
*.exe
*.flv
*.gz
*.hqx
*.img
*.iso
*.kar
*.m4a
*.m4v
*.mid
*.midi
*.mng
*.mov
*.mp3
*.mp4
*.mpeg
*.mpg
*.msi
*.msm
*.msp
*.ogg
*.ra
*.tar
*.webm
*.wmv
*.zip
